<h4>Browse Users</h4>

<%= form_tag users_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil, :class => "button" %>
	</p>
<% end %>

<ul class="users">
	
	<%= render @users %>
	
</ul>