<div>
	<div class="song">
		
		<div>
		<%= song.name %>
		</div>
		
		<div>
		<%= song.album.name %>
		</div>
		
		<div>
		<%= song.album.artist.name %>
		</div>
		
		<div>
		<%= button_to price = 'Buy ' << song.price.to_s, line_items_path(song_id: song)%>
		</div>
		
	</div>
</div>
