<div>
	<div class="artist">
		<%= link_to song.name, song %>
		

		
		<%= button_to price = 'Buy ' << song.price.to_s, line_items_path(song_id: song)%>
		
		<%= link_to 'Delete?', song, :method => :delete %>

		
	</div>
</div>
