<h4>Browse Songs</h4>

<%= form_tag songs_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil %>
	</p>
<% end %>

<ul class="songs">
	<%= render @songs %>
</ul>