<% if signed_in? %>
<h3>Welcome back <%= current_user.name %></h3>
<p>Misocure is an ultra secure music store. You can purchase and redownload songs as often as you'd like.
Or if you manage a band or artist you can upload their music and sell their music to users around the world.
</p>
<% else %>
<p>Misocure is an ultra secure music store. You can purchase and redownload songs as often as you'd like.
Or if you manage a band or artist you can upload their music and sell their music to users around the world.
</p>

<div align=center>
<%= link_to "Sign up now!", signup_path, :class => "signup" %>
</div>
<% end %>
