<h4>Terms and Conditions</h4>
<p><strong>by SEQ Legal</strong></p>
<h5>(1) Introduction</h5>
<p>These terms and conditions govern your use of our website; by using our website, you accept these terms and conditions in full.
 If you disagree with these terms and conditions or any part of these terms and conditions, you must not use our website.</p>
<p>You must be at least 18 years of age to use our website. By using our website and by agreeing to these terms and conditions
 you warrant and represent that you are at least 18 years of age.</p>
<p>Our website uses cookies. By using our website and agreeing to these terms and conditions, you consent to our use of cookies
 in accordance with the terms of our <a href="/pages/privacy">privacy policy</a>.</p>
<h5>(2) Credit</h5>
<p>These terms and conditions were created using a precedent from <a href="http://www.website-law.co.uk/termsandconditions.html">SEQ Legal.</a> 
Premium SEQ Legal precedents include <a href="http://www.website-contracts.co.uk/acatalog/domain_name_licence_agreements.html">precedent domain name licence agreements</a>.
</p>
<h5>(3) Licence to use website</h5>
<p>You may view, download for caching purposes only, and print pages [or [<i>OTHER CONTENT</i>]] from the website for your own personal
 use, subject to the restrictions set out below and elsewhere in these terms and conditions. </p>
<p>You must not:</p>
<p>(a) republish material from this website (including republication on another website);</p>
<p>(b) sell, rent or sub-license material from the website;</p>
<p>(c) show any material from the website in public;</p>
<p>(d) reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;</p>
<p>(e) edit or otherwise modify any material on the website; or</p>
<p>(f) redistribute material from this website.</p>
<h5>(4) Acceptable use</h5>
<p>You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or 
accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful,
 illegal, fraudulent or harmful purpose or activity.</p>

<p>You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of 
(or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.</p>
<p>You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction 
and data harvesting) on or in relation to our website without our express written consent.</p>
<p>You must not use our website to transmit or send unsolicited commercial communications.</p>
<p>You must not use our website for any purposes related to marketing without our express written consent.</p>
<h5>(5) Restricted access</h5>
<p>Access to certain areas of our website is restricted. We reserve the right to restrict access to [other] areas of our website,
 or indeed our whole website, at our discretion.</p>
<p>If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, 
you must ensure that that user ID and password is kept confidential. </p>
<p>We may disable your user ID and password in our sole discretion without notice or explanation.</p>
<h5>(6) User generated content</h5>
<p>In these terms and conditions, "your user content" means material (including without limitation text, images, audio material, video material and 
audio-visual material) that you submit to our website, for whatever purpose.</p>
<p>Your user content must not be illegal or unlawful, must not infringe any third party's legal rights, and must not be capable of giving rise to legal a
ction whether against you or us or a third party (in each case under any applicable law).</p>
<p>You must not submit any user content to the website that is or has ever been the subject of any threatened or actual legal proceedings or other similar complaint.</p>
<p>We reserve the right to edit or remove any material submitted to our website, or stored on our servers, or hosted or published upon our website.</p>
<p>Notwithstanding our rights under these terms and conditions in relation to user content, we do not undertake to monitor the submission of such content to,
 or the publication of such content on, our website.</p>
<h5>(7) Limited warranties</h5>
<p>We do not warrant the completeness or accuracy of the information published on this website; nor do we commit to ensuring that the website remains 
available or that the material on the website is kept up-to-date.</p>
<p>To the maximum extent permitted by applicable law we exclude all representations, warranties and conditions relating to this website and the use of this
 website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).</p>
<h5>(8) Limitations and exclusions of liability</h5>
<p>Nothing in these terms and conditions will: (a) limit or exclude our or your liability for death or personal injury resulting from negligence; (b) limit or 
exclude our or your liability for fraud or fraudulent misrepresentation; (c) limit any of our or your liabilities in any way that is not permitted under applicable
 law; or (d) exclude any of our or your liabilities that may not be excluded under applicable law.</p>
<p>The limitations and exclusions of liability set out in this Section and elsewhere in these terms and conditions: (a) are subject to the preceding paragraph; 
and (b) govern all liabilities arising under the terms and conditions or in relation to the subject matter of the terms and conditions, including liabilities
 arising in contract, in tort (including negligence) and for breach of statutory duty.</p>
<p>To the extent that the website and the information and services on the website are provided free-of-charge, we will not be liable for any loss or damage of any nature.</p>
<p>We will not be liable to you in respect of any losses arising out of any event or events beyond our reasonable control.</p>
<p>We will not be liable to you in respect of any business losses, including (without limitation) loss of or damage to profits, income, revenue, use, production, 
anticipated savings, business, contracts, commercial opportunities or goodwill.</p>
<p>We will not be liable to you in respect of any loss or corruption of any data, database or software.</p>
<p>We will not be liable to you in respect of any special, indirect or consequential loss or damage.</p>
<h5>(9) Indemnity</h5>
<p>You hereby indemnify us and undertake to keep us indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses
 and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by
 you of any provision of these terms and conditions, or arising out of any claim that you have breached any provision of these terms and conditions.</p>
<h5>(10) Breaches of these terms and conditions</h5>
<p>Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, we may take such action as we deem appropriate
 to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing 
 the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.</p>
<h5>(11) Variation</h5>
<p>We may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of our website from the date of the publication of the 
revised terms and conditions on our website. Please check this page regularly to ensure you are familiar with the current version.</p>
<h5>(12) Assignment</h5>
<p>We may transfer, sub-contract or otherwise deal with our rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.</p>
<p>You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions. </p>
<h5>(13) Severability</h5>
<p>If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions 
will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted,
 and the rest of the provision will continue in effect. </p>
<h5>(14) Exclusion of third party rights</h5>
<p>These terms and conditions are for the benefit of you and us, and are not intended to benefit any third party or be enforceable by any third party. The exercise of our 
and your rights in relation to these terms and conditions is not subject to the consent of any third party.</p>
<h5>(15) Entire agreement</h5>
<p>These terms and conditions, together with our <a href="/privacy">privacy policy</a>, constitute the entire agreement between you and us in relation to your use of our website, and supersede all previous 
agreements in respect of your use of this website.</p>
<h5>(16) Law and jurisdiction</h5>
<p>These terms and conditions will be governed by and construed in accordance with English law, and any disputes relating to these terms and conditions will be subject to the 
non-exclusive jurisdiction of the courts of England and Wales.</p>
<h5>(18) Our details</b></h5>

<p>The full name of our company is Misocure. </p>
<p>You can contact us by email to gorman.benjamin@googlemail.com</p>

