<div>
	<div class="artist">
		<%= link_to album.name, album %>
		
		<% if current_user.admin? || album.artist.user == current_user %>
			| <%= link_to 'Delete?', album, :method => :delete %>
		<% end %>
	</div>
</div>
