<h4>Browse Albums</h4>

<%= form_tag albums_path, :method => 'get' do %>
	<p>
		<%= text_field_tag :search, params[:search] %>
		<%= submit_tag "Search", :name => nil, :class => "button" %>
	</p>
<% end %>

<ul class="artists">
	<%= render @albums %>
</ul>
